<div class="topbar">
    <ul class="topbar-content d-flex">
      <li class="nav-item active action_btn ms-auto underline-on-hover" style="color: rgb(253, 252, 252)">
        <a class="nav-link" href="#">Login<span class="sr-only"></span></a>
      </li>
      <li class="nav-item action_btn underline-on-hover" style="color: rgb(253, 252, 252)">
        <a class="nav-link" href="#">English</a>
      </li>
      <li class="nav-item action_btn underline-on-hover" style="color: rgb(255, 253, 253)">
        <a class="nav-link" href="#">Tamil</a>
      </li>
    </ul>
  </div>