<body>
  <nav class="navbar navbar-expand-md">
      <div class="container navbar-color">
      <img class="companyLogo m-2" src="assets/logo.png" alt="tufidcoLogo">
      <span class="navbar-brand" href="#"><b>TUFIDCO</b></span>

      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active rounded-4" href="/home" aria-current="page">Home<span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-4" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-4" href="#">Board Of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-4" href="#">Schemes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-4" href="/funds">Funds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-4" href="#">Organizational chart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
