<div class="text-center pt-3">
    <h1 class="expansion">TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION(TUFIDCO)</h1>
</div>
<!-- IMAGE CAROUSEL -->
<ngb-carousel [interval]="3000" class="pt-5">
    <ng-template ngbSlide>
        <img src="assets/main_build.png" alt="Slide 1">
        <div class="carousel-caption">
            <h3>Slide 1 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho14.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 2 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho16.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 3 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho17.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 4 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho18.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 5 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho19.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 6 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho21.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 2 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho23.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 2 Caption</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/pho25.png" alt="Slide 2">
        <div class="carousel-caption">
            <h3>Slide 2 Caption</h3>
        </div>
    </ng-template>
</ngb-carousel>

<!-- CONTENT -->
<div class="container-fluid pt-5">
    <div class="incorp_content">
        <h1 class="text-center">INCORPORATION</h1>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <h1 class="text-center">TUFIDCO</h1>
        <p></p>
    </div>
    <div>
        <h1 class="text-center">SUKESH</h1>
        <p></p>
    </div>
    <div>
        <h1 class="text-center">SRIRAM</h1>
        <p></p>
    </div>

</div>