.expansion {
  font-size: 38px;
  font-family: "Andada Pro", serif;
  color: #196094;
}

.sf{
  font-size: 35px;
}

.content-container {
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
}