<div class="text-center pt-3">
  <h1 class="expansion">
    TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION(TUFIDCO)
  </h1>
</div>
<!-- CONTENT -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 section-1">Your content for section 1</div>
    <div class="col-md-4 section-2">Your content for section 2</div>
    <div class="col-md-4">
        <div class="news-sidebar">
          <h2>News</h2>
          <ul class="news-ticker">
            <li *ngFor="let item of newsItems">{{ item }}</li>
          </ul>
        </div>
  </div>
</div>
