@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
.content-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro{
    line-height: 7vh;
    color: rgb(30, 48, 80);
    text-align: center;
    font-size:40px;
    /* font-weight: 600,semi-bold; */
    font-family: 'Andada Pro', sans-serif;
    letter-spacing: -0.52px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.abcd{
    color: #4d4d4d;
    padding-left:5px ;
    padding-right:5px;
    text-align: center!important;
    font-size: 19px;
    font-family: 'Instrument Sans',sans-serif;
}

.sch{
    background-color: #F5F5F5;
    color: black;
    /* font-size: 70px; */
    overflow-y: auto;
}

.heading{
    text-align: left;
    padding: 1%;
    padding-top: 2%;
    margin-bottom: 0px;
    /* display: inline-block; */
    font-size: 30px;
    color: rgb(30, 48, 80);
    font-family: 'Andada Pro', sans-serif;
}

.fundcont{
    /* margin: 27px ; */
    color: #4d4d4d;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    /* padding-bottom: 1%; */
    /* padding-top: 30px; */
    font-size: 19px;
    font-family: 'Instrument Sans',sans-serif;
}

li {
    color:#4d4d4d;
    list-style:none;
    position: relative;
    padding-left:40px;
    line-height: 2;
    font-size:19px;
  }
  
  li:before {
    font-family:FontAwesome;
    position: absolute;
    left: 0;
    color: rgb(30, 48, 80);
    font-size:19px;
  }
  
  li.one:before {
    content:"\f058";
  }

  li:hover:before {
    color:#196094;
  }