  <div class="content-container">
    <title>funds</title>
    <section>
      <h1 class="intro"><b>TAMIL NADU URBAN INFRASTRUCTURE DEVELOPMENT<br>AND RENEWAL FUND (TNUIDRF)</b></h1>
    </section>
    <!-- <br> -->
    <div class="container">
      <p class="abcd">
          The Government of Tamil Nadu vide G.O.Ms.No.49, Municipal Administration and Water Supply department, dated 30.03.2007 have ordered for the creation of Tamil Nadu Urban Infrastructure Development and Renewal Fund w.e.f.1.4.2006. The Fund will be operated by the Chairman and Managing Director, TUFIDCO who is the Officer on Special Duty, MA&WS dept., for the purpose of operating this fund.
      </p>
    </div>
    
    <br>
    
    <section class="sch">
      <div class="container">
        <p class="heading"><b>SCHEMES INVOLVED</b></p>
        <p class="fundcont">The Fund consists of the following Centrally sponsored scheme:</p>
        <ul>
          <li class="one">Jawaharlal Nehru National Urban Renewal Mission</li>
          <li class="one">Urban Infrastructure Development Scheme for Small and Medium Towns</li>
          <li class="one">Metropolitan Infrastructure Development Scheme</li>
          <li class="one">Mega City Programme</li>
          <li class="one">Integrated Development scheme for Small and Medium Towns</li>
          <li class="one">Infrastructure Gap Filling fund</li>
          <li class="one">Operation and Maintenance Gap filling fund</li>
          <li class="one">Scholarship fund</li>
          <li class="one">Entertainment tax subsidy fund</li>
          <li class="one">Incentive Fund</li>
      </ul>
      </div>
    </section>
  </div>